<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第13次告白</title>
</head>
<body>


<image src='https://linkpet-image-bucket-1.oss-cn-hangzhou.aliyuncs.com/static_img/bg_ac.jpg' class='bg_ac'></image>

<div class="btn_cover">

    <image src='${request.contextPath}/images/icon_bar/support.png' class='btn_support' bindtap='supportAc'></image>

    <image src='${request.contextPath}/images/icon_bar/buytic.png' class='btn_buy' bindtap='buyTicket'></image>

    <div style='clear:both'></div>

    <text class='support_num'>已收到{{supportNumber}}位爱心的支持</text>
    <text class='support_text'>(支持数将会换成猫粮捐给爱心组织)</text>
    <div style='border-top:1px solid #ffffff;margin-top:10px;'></div>
    <text style='display:block;text-align:center;height:50px;line-height:50px;font-size:26px;font-weight:500;color:#fff;margin-bottom:20px;'>协助单位</text>
    <div class='logo_div2'>
        <image class='logo_item3' src='${request.contextPath}/images/logo/laidian.png' ></image>
        <!-- <text class='logo_text'>来电</text>     -->
    </div>


    <div class='logo_div2'>
        <image class='logo_item2' src='${request.contextPath}/images/logo/boqi.png' ></image>
        <!-- <text class='logo_text'>波奇网</text>     -->
    </div>

    <div style='clear:both'></div>


    <div class='logo_div'>
        <image class='logo_item' src='${request.contextPath}/images/logo/linkpet.png' mode='aspectFit' style='background-colro:#000'></image>
        <text class='logo_text'>邻宠</text>
    </div>

    <div class='logo_div'>
        <image class='logo_item' src='${request.contextPath}/images/logo/singledog.png' mode='aspectFit' style='background-colro:#000'></image>
        <text class='logo_text'>单身狗食堂</text>
    </div>


    <div class='logo_div'>
        <image class='logo_item' src='${request.contextPath}/images/logo/vetanan.png' mode='aspectFit'></image>
        <text class='logo_text'>安安宠医</text>
    </div>



    <div class='logo_div'>
        <image class='logo_item' src='${request.contextPath}/images/logo/hello.png' mode='aspectFit'></image>
        <text class='logo_text'>哈罗单车</text>
    </div>



    <div class='logo_div'>
        <image class='logo_item' src='${request.contextPath}/images/logo/mollybox.png' mode='aspectFit' style='background-colro:#000'></image>
        <text class='logo_text'>魔力猫盒</text>
    </div>


    <div class='logo_div'>
        <image class='logo_item' src='${request.contextPath}/images/logo/furrytai.png' mode='aspectFit' style='background-colro:#000'></image>
        <text class='logo_text'>FURRYTAIL</text>
    </div>

    <div class='logo_div'>
        <image class='logo_item' src='https://linkpet-image-bucket-1.oss-cn-hangzhou.aliyuncs.com/static_img/primo.jpeg'  mode='aspectFit' style='background-colro:#000'></image>
        <text class='logo_text'>不然呢</text>
    </div>



    <div class='logo_div'>
        <image class='logo_item' src='${request.contextPath}/images/logo/txy.png' mode='aspectFit' style='background-colro:#000'></image>
        <text class='logo_text'>它小院</text>
    </div>

    <!-- <div class='logo_div'>
      <image class='logo_item' src='${request.contextPath}/images/logo/tzm.png' mode='aspectFit' style='background-colro:#000'></image>
      <text class='logo_text'>桃子猫</text>    
    </div> -->

    <div class='logo_div'>
        <image class='logo_item' src='${request.contextPath}/images/logo/tfboys.png' mode='aspectFit' style='background-colro:#000'></image>
        <text class='logo_text'>光芒永恒站</text>
    </div>

    <div style='clear:both'></div>


</div>







</body>
</html>