<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pokepet.dao.UserRecordHandlerMapper" >


    <select id="selectUserRecordList" resultType="java.util.Map">

      SELECT recordId,title,content,abbreImg,images,recommend,
            userId,petId,createtime,checkState,delFlag,
            type,memo,location,detailLocation,lat,lng
      FROM
        (
      (SELECT record_id as recordId, title, content,abbre_img as abbreImg ,
          null as images, null as recommend,user_id as userId, pet_id as petId,
          create_time as createtime, check_state as checkState, del_flag as delFlag,
          type,null as memo,null as location,null as detailLocation,null as lat,null as lng
          FROM user_long_record
          WHERE user_id=#{userId}
          AND del_flag='0')

      UNION all

      (SELECT record_id as recordId,title, content,null as abbreImg, images, recommend,
          user_id as userId, null as petId,create_time as createtime, check_state as checkState,
           del_flag as delFlag, type,memo, location, detail_location as detailLocation, lat, lng
          FROM user_record
          WHERE user_id=#{userId}
          AND del_flag='0')
      )AS allunion
      ORDER BY createtime DESC

    </select>


    <select id="selectUserCheckedRecordList" resultType="java.util.Map">


      SELECT recordId,title,content,abbreImg,images,recommend,
            userId,photoPath,nickName,petId,petName,petPhotoPath,createtime,checkState,delFlag,
            type,memo,location,detailLocation,lat,lng,likeNumber,collectNumber,shareNumber,followPetOrNot,followUserOrNot
      FROM
        (
      (SELECT
               ulr.record_id   AS recordId,
               ulr.title,
               ulr.content,
               ulr.abbre_img   AS abbreImg,
               NULL            AS images,
               NULL            AS recommend,
               ulr.user_id     AS userId,
               u.photo_path    AS photoPath,
               u.nick_name     AS nickName,
               ulr.pet_id      AS petId,
               p.name          AS petName,
               p.photo_path    AS petPhotoPath,
               ulr.create_time AS createtime,
               check_state     AS checkState,
               ulr.del_flag    AS delFlag,
               type,
               NULL            AS memo,
               NULL            AS location,
               NULL            AS detailLocation,
               NULL            AS lat,
               NULL            AS lng,
              (select count(1) FROM record_like rl WHERE rl.record_id=ulr.record_id and rl.del_flag='0') as likeNumber,
              (select count(1) FROM record_collect rc where rc.record_id=ulr.record_id and rc.del_flag='0') as collectNumber,
              (SELECT count(1) from record_share rs where rs.record_id=ulr.record_id  and rs.del_flag='0') as shareNumber,
              (SELECT count(1) from pet_follow pf where pf.pet_id=ulr.pet_id and pf.user_id=#{userId} and pf.del_flag='0' and ulr.type='0') as followPetOrNot,
              (SELECT count(1) from user_follow uf where uf.user_id=ulr.user_id and uf.follow_user_id=#{userId} and uf.del_flag='0' and ulr.type='1') as followUserOrNot

            FROM user_long_record ulr
            LEFT JOIN user u
            ON ulr.user_id = u.user_id
            LEFT JOIN pet p
            ON ulr.pet_id = p.pet_id
            WHERE check_state = '1' AND ulr.del_flag = '0' AND ulr.type = '1'
          )

        UNION ALL

          (SELECT
            record_id AS recordId,
            title,
            content,
            NULL AS abbreImg,
            images,
            recommend,
            ur.user_id AS userId,
            u.photo_path AS photoPath,
            u.nick_name AS nickName,
            NULL AS petId,
            NULL AS petName,
            NULL AS petPhotoPath,
            create_time AS createtime,
            check_state AS checkState,
            ur.del_flag AS delFlag,
            type,
            memo,
            location,
            detail_location AS detailLocation,
            lat,
            lng,
            (select count(1) FROM record_like rl WHERE rl.record_id=ur.record_id and rl.del_flag='0') as likeNumber,
            (select count(1) FROM record_collect rc where rc.record_id=ur.record_id and rc.del_flag='0') as collectNumber,
            (SELECT count(1) from record_share rs where rs.record_id=ur.record_id and rs.del_flag='0') as shareNumber,
            0 as followPetOrNot,
            (SELECT count(1) from user_follow uf where uf.user_id=ur.user_id and uf.follow_user_id=#{userId} and uf.del_flag='0') as followUserOrNot
            FROM user_record ur
            LEFT JOIN user u
            ON ur.user_id=u.user_id
            WHERE (ur.type = '2' OR ur.type = '3') AND check_state='1' AND ur.del_flag='0'
          )
        ) AS allunion
      WHERE allunion.userId=#{userId}
      AND allunion.delFlag='0'
      AND  allunion.checkState='1'
      ORDER BY allunion.createtime DESC


    </select>

    <select id="selectUserCollectRecordList" resultType="java.util.Map">


      SELECT recordId,title,content,abbreImg,images,recommend,
            userId,photoPath,nickName,petId,petName,petPhotoPath,createtime,checkState,delFlag,
            type,memo,location,detailLocation,lat,lng,likeNumber,collectNumber,shareNumber,followPetOrNot,followUserOrNot
      FROM
      record_collect rc
      LEFT JOIN
        (
      (SELECT
               ulr.record_id   AS recordId,
               ulr.title,
               ulr.content,
               ulr.abbre_img   AS abbreImg,
               NULL            AS images,
               NULL            AS recommend,
               ulr.user_id     AS userId,
               u.photo_path    AS photoPath,
               u.nick_name     AS nickName,
               ulr.pet_id      AS petId,
               p.name          AS petName,
               p.photo_path    AS petPhotoPath,
               ulr.create_time AS createtime,
               check_state     AS checkState,
               ulr.del_flag    AS delFlag,
               type,
               NULL            AS memo,
               NULL            AS location,
               NULL            AS detailLocation,
               NULL            AS lat,
               NULL            AS lng,
              (select count(1) FROM record_like rl WHERE rl.record_id=ulr.record_id and rl.del_flag='0') as likeNumber,
              (select count(1) FROM record_collect rc where rc.record_id=ulr.record_id and rc.del_flag='0') as collectNumber,
              (SELECT count(1) from record_share rs where rs.record_id=ulr.record_id  and rs.del_flag='0') as shareNumber,
              (SELECT count(1) from pet_follow pf where pf.pet_id=ulr.pet_id and pf.user_id=#{userId} and pf.del_flag='0' and ulr.type='0') as followPetOrNot,
              (SELECT count(1) from user_follow uf where uf.user_id=ulr.user_id and uf.follow_user_id=#{userId} and uf.del_flag='0' and ulr.type='1') as followUserOrNot

            FROM user_long_record ulr
            LEFT JOIN user u
            ON ulr.user_id = u.user_id
            LEFT JOIN pet p
            ON ulr.pet_id = p.pet_id
            WHERE check_state = '1' AND ulr.del_flag = '0' AND (ulr.type = '0' OR ulr.type = '1')
          )

        UNION ALL

          (SELECT
            record_id AS recordId,
            title,
            content,
            NULL AS abbreImg,
            images,
            recommend,
            ur.user_id AS userId,
            u.photo_path AS photoPath,
            u.nick_name AS nickName,
            NULL AS petId,
            NULL AS petName,
            NULL AS petPhotoPath,
            create_time AS createtime,
            check_state AS checkState,
            ur.del_flag AS delFlag,
            type,
            memo,
            location,
            detail_location AS detailLocation,
            lat,
            lng,
            (select count(1) FROM record_like rl WHERE rl.record_id=ur.record_id and rl.del_flag='0') as likeNumber,
            (select count(1) FROM record_collect rc where rc.record_id=ur.record_id and rc.del_flag='0') as collectNumber,
            (SELECT count(1) from record_share rs where rs.record_id=ur.record_id and rs.del_flag='0') as shareNumber,
            0 as followPetOrNot,
            (SELECT count(1) from user_follow uf where uf.user_id=ur.user_id and uf.follow_user_id=#{userId} and uf.del_flag='0') as followUserOrNot
            FROM user_record ur
            LEFT JOIN user u
            ON ur.user_id=u.user_id
            WHERE (ur.type = '2' OR ur.type = '3') AND check_state='1' AND ur.del_flag='0'
          )
        ) AS allunion
      ON rc.record_id=allunion.recordId
      WHERE rc.user_id=#{userId}
      AND rc.del_flag='0'

      ORDER BY rc.create_time DESC


    </select>

    <select id="getPetRecordList"  parameterType="java.lang.String" resultType="java.util.Map">

      SELECT
        ulr.record_id   AS recordId,
        ulr.title,
        ulr.content,
        ulr.abbre_img   AS abbreImg,
        ulr.user_id     AS userId,
        u.photo_path    AS photoPath,
        u.nick_name     AS nickName,
        ulr.pet_id      AS petId,
        p.name          AS petName,
        p.photo_path    AS petPhotoPath,
        ulr.create_time AS createtime,
        check_state     AS checkState,
        ulr.del_flag    AS delFlag,
        type,
        (select count(1) FROM record_like rl WHERE rl.record_id=ulr.record_id and rl.del_flag='0') as likeNumber,
        (SELECT count(1) FROM record_like rl2 WHERE rl2.record_id=ulr.record_id  and rl2.del_flag='0') as likeOrNot,
        (select count(1) FROM record_collect rc where rc.record_id=ulr.record_id and rc.del_flag='0') as collectNumber,
        (select count(1) FROM record_collect rc2 where rc2.record_id=ulr.record_id  and rc2.del_flag='0') as collectOrNot,
        (SELECT count(1) from record_share rs where rs.record_id=ulr.record_id  and rs.del_flag='0') as shareNumber,
        (SELECT count(1) from record_share rs2 where rs2.record_id=ulr.record_id   and rs2.del_flag='0') as shareOrNot

        FROM user_long_record ulr
        LEFT JOIN user u
        ON ulr.user_id = u.user_id
        LEFT JOIN pet p
        ON ulr.pet_id = p.pet_id
        WHERE check_state = '1'
        AND ulr.del_flag = '0'
        AND ulr.pet_id = #{petId}
        ORDER BY createtime DESC
    </select>


    <select id="selectRecommendList"  parameterType="java.lang.String" resultType="java.util.Map">

        SELECT
          recordId,
          title,
          content,
          abbreImg,
          images,
          recommend,
          userId,
          nickName,
          photoPath,
          petId,
          petName,
          petPhotoPath,
          petAge,
          petMonth,
          createtime,
          checkState,
          delFlag,
          type,
          memo,
          location,
          detailLocation,
          lat,
          lng,
          likeNumber,
          likeOrNot,
          collectNumber,
          collectOrNot,
          shareNumber,
          shareOrNot,
          followPetOrNot,
          followUserOrNot
        FROM
          (
            (SELECT
               ulr.record_id   AS recordId,
               ulr.title,
               ulr.content,
               ulr.abbre_img   AS abbreImg,
               NULL            AS images,
               NULL            AS recommend,
               ulr.user_id     AS userId,
               u.photo_path    AS photoPath,
               u.nick_name     AS nickName,
               ulr.pet_id      AS petId,
               p.name          AS petName,
               p.photo_path    AS petPhotoPath,
               TIMESTAMPDIFF(YEAR, p.birthday, CURDATE())  AS petAge,
               TIMESTAMPDIFF(MONTH, p.birthday, CURDATE())%12  AS petMonth,
               ulr.create_time AS createtime,
               check_state     AS checkState,
               ulr.del_flag    AS delFlag,
               type,
               NULL            AS memo,
               NULL            AS location,
               NULL            AS detailLocation,
               NULL            AS lat,
               NULL            AS lng,
              (select count(1) FROM record_like rl WHERE rl.record_id=ulr.record_id and rl.del_flag='0') as likeNumber,
              (SELECT count(1) FROM record_like rl2 WHERE rl2.record_id=ulr.record_id and rl2.user_id=#{userId} and rl2.del_flag='0') as likeOrNot,
              (select count(1) FROM record_collect rc where rc.record_id=ulr.record_id and rc.del_flag='0') as collectNumber,
              (select count(1) FROM record_collect rc2 where rc2.record_id=ulr.record_id and rc2.user_id=#{userId} and rc2.del_flag='0') as collectOrNot,
              (SELECT count(1) from record_share rs where rs.record_id=ulr.record_id  and rs.del_flag='0') as shareNumber,
              (SELECT count(1) from record_share rs2 where rs2.record_id=ulr.record_id and rs2.user_id=#{userId} and rs2.del_flag='0') as shareOrNot,
              (SELECT count(1) from pet_follow pf where pf.pet_id=ulr.pet_id and pf.user_id=#{userId} and pf.del_flag='0' and ulr.type='0') as followPetOrNot,
              (SELECT count(1) from user_follow uf where uf.user_id=ulr.user_id and uf.follow_user_id=#{userId} and uf.del_flag='0' and ulr.type='1') as followUserOrNot

            FROM user_long_record ulr
            LEFT JOIN user u
            ON ulr.user_id = u.user_id
            LEFT JOIN pet p
            ON ulr.pet_id = p.pet_id
            WHERE check_state = '1' AND ulr.del_flag = '0' AND (ulr.type = '0' OR ulr.type = '1')
          )

        UNION ALL
        
          (SELECT
            record_id AS recordId,
            title,
            content,
            NULL AS abbreImg,
            images,
            recommend,
            ur.user_id AS userId,
            u.photo_path AS photoPath,
            u.nick_name AS nickName,
            NULL AS petId,
            NULL AS petName,
            NULL AS petPhotoPath,
            NULL AS petAge,
            NULL AS petMonth,
            create_time AS createtime,
            check_state AS checkState,
            ur.del_flag AS delFlag,
            type,
            memo,
            location,
            detail_location AS detailLocation,
            lat,
            lng,
            (select count(1) FROM record_like rl WHERE rl.record_id=ur.record_id and rl.del_flag='0') as likeNumber,
            (SELECT count(1) FROM record_like rl2 WHERE rl2.record_id=ur.record_id and rl2.user_id=#{userId} and rl2.del_flag='0') as likeOrNot,
            (select count(1) FROM record_collect rc where rc.record_id=ur.record_id and rc.del_flag='0') as collectNumber,
            (select count(1) FROM record_collect rc2 where rc2.record_id=ur.record_id and rc2.user_id=#{userId} and rc2.del_flag='0') as collectOrNot,
            (SELECT count(1) from record_share rs where rs.record_id=ur.record_id and rs.del_flag='0') as shareNumber,
            (SELECT count(1) from record_share rs2 where rs2.record_id=ur.record_id and rs2.user_id=#{userId} and rs2.del_flag='0') as shareOrNot,
            0 as followPetOrNot,
            (SELECT count(1) from user_follow uf where uf.user_id=ur.user_id and uf.follow_user_id=#{userId} and uf.del_flag='0') as followUserOrNot
            FROM user_record ur
            LEFT JOIN user u
            ON ur.user_id=u.user_id
            WHERE type = '2' AND check_state='1' AND ur.del_flag='0'
          )
        ) AS allunion
        ORDER BY createtime DESC
    </select>


    <select id="selectCharityList"  resultType="java.util.Map">

        SELECT recordId,title,content,abbreImg,images,recommend,
        userId,nickName,photoPath,petId,petName,createtime,checkState,delFlag,
        type,memo,location,detailLocation,lat,lng,likeNumber,likeOrNot,
        collectNumber,collectOrNot,shareNumber,shareOrNot
        FROM
        (SELECT
        record_id       AS recordId,
        title,
        content,
        NULL            AS abbreImg,
        images,
        recommend,
        ur.user_id         AS userId,
        u.photo_path    As photoPath,
        u.nick_name     As nickName,
        NULL            AS petId,
        NULL            As petName,
        create_time     AS createtime,
        check_state     AS checkState,
        ur.del_flag       AS delFlag,
        type,
        memo,
        location,
        detail_location AS detailLocation,
        lat,
        lng,
        (select count(1) FROM record_like rl WHERE rl.record_id=ur.record_id and rl.del_flag='0') as likeNumber,
        (SELECT count(1) FROM record_like rl2 WHERE rl2.record_id=ur.record_id and rl2.user_id=#{userId} and rl2.del_flag='0') as likeOrNot,
        (select count(1) FROM record_collect rc where rc.record_id=ur.record_id and rc.del_flag='0') as collectNumber,
        (select count(1) FROM record_collect rc2 where rc2.record_id=ur.record_id and rc2.user_id=#{userId} and rc2.del_flag='0') as collectOrNot,
        (SELECT count(1) from record_share rs where rs.record_id=ur.record_id and rs.del_flag='0') as shareNumber,
        (SELECT count(1) from record_share rs2 where rs2.record_id=ur.record_id and rs2.user_id=#{userId} and rs2.del_flag='0') as shareOrNot,
        (SELECT count(1) from user_follow uf where uf.user_id=ur.user_id and uf.follow_user_id=#{userId} and uf.del_flag='0') as followUserOrNot

        FROM user_record ur
        LEFT JOIN user u
        ON ur.user_id=u.user_id
        WHERE type = '3' and check_state='1' and ur.del_flag='0'
        )AS allunion
        ORDER BY createtime DESC
    </select>



    <select id="selectLongRecordByRecordId" resultType="java.util.Map" parameterType="java.lang.String">

        SELECT
             ulr.record_id   AS recordId,
             ulr.title,
             ulr.content,
             ulr.abbre_img   AS abbreImg,
             ulr.user_id     AS userId,
             u.photo_path as photoPath,
             u.nick_name as nickName,
             ulr.pet_id      AS petId,
             p.name as petName,
             p.photo_path as petPhotoPath,
             create_time AS createtime,
             check_state AS checkState,
             ulr.del_flag   AS delFlag,
             type,
             (SELECT count(1) from record_like rl where rl.record_id=#{recordId} and rl.del_flag='0') as likeNumber,
             (SELECT count(1) from record_like rl2 where rl2.record_id=#{recordId} and rl2.user_id=#{userId} and rl2.del_flag='0') as likeOrNot,
             (SELECT count(1) from record_collect rc where rc.record_id=#{recordId} and rc.del_flag='0') as collectNumber,
             (SELECT count(1) from record_collect rc2 where rc2.record_id=#{recordId} and rc2.user_id=#{userId} and rc2.del_flag='0') as collectOrNot,
             (SELECT count(1) from record_share rs where rs.record_id=#{recordId} and rs.del_flag='0') as shareNumber,
             (SELECT count(1) from record_share rs2 where rs2.record_id=#{recordId} and rs2.user_id=#{userId} and rs2.del_flag='0') as shareOrNot,
             (SELECT count(1) from pet_follow pf where pf.user_id=#{userId} and pf.del_flag='0') as petFollowOrNot,
             (SELECT count(1) from user_follow uf where uf.follow_user_id=#{userId} and uf.del_flag='0') as userFollowOrNot
         FROM user_long_record ulr
         LEFT JOIN user u
         ON ulr.user_id=u.user_id
         LEFT JOIN  pet p
         ON ulr.pet_id=p.pet_id
         WHERE ulr.del_flag='0'
         AND ulr.record_id=#{recordId}



    </select>


    <select id="selectRecordByRecordId" resultType="java.util.Map" parameterType="java.lang.String">

        SELECT
              record_id       AS recordId,
              title,
              content,
              images,
              recommend,
              ur.user_id      AS userId,
              u.photo_path    As photoPath,
              u.nick_name     As nickName,
              create_time     AS createtime,
              check_state     AS checkState,
              ur.del_flag     AS delFlag,
              type,
              memo,
              location,
              detail_location AS detailLocation,
              lat,
              lng
          FROM user_record ur
          LEFT JOIN user u
          ON ur.user_id=u.user_id
          WHERE ur.del_flag='0'
          and ur.record_id=#{recordId}


    </select>



</mapper>